.navbar {
    background-color: #4098b5;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.home{
    height: 400px;
}

h1{
   padding-top: 40px;
   padding-left: 40px;
   padding-bottom: 40px;
}

p{
    padding-left: 40px;
    font-size: 20px;
}

.login{
    margin-right: 80px;
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-left{
    color: white;
}
label{
    font-size: 18px;
}
 #username{
    margin-top: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 150px;
 }

 #username:focus{
   outline: none;
 }

.login-right{
    font-size: 18px;
    padding: 10px;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: #ffffff;
    color: black;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}
.login-right:hover{
    background-color: #eeecec;
}